
body {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(-45deg, rgba(0, 128, 0, 0.443), rgba(0, 100, 0, 0.062));
}

.vertical-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50px;
    width: 0;
    height: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

.vertical-bar:hover{
    width: 250px;
}

.list-bar {
    display: flex;
    width: 100%;
    flex-direction: column;
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.item-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    text-align: left;
    padding: 5px 0;
    transition: 0.1s;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.item-bar a {
    position: relative;
    text-decoration: none;
    color: black;
    margin: 10px 0;
    margin-left: 50px;
    white-space: nowrap;
    overflow: hidden;
}

.item-bar ion-icon {
    position: fixed;
    left: 12px;
    scale: 2;
    margin: 5px;
}

.item-bar:hover{
    background-color: lightgreen;
}
